<a href="https://colab.research.google.com/github/sugban/Python-Learning-/blob/main/Lesson%2028/Lesson_28_Pandas_part_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Pandas reading, writing and maniputlating different files

* Pandas is a powerful and flexible Python package that allows you to write and read Excel, CSV, JSON, html and many other types of files.
* to write different types of files
<pre>
DataFrame.to_file-type('file_name/_path')
</pre>

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('data.xlsx')
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130    4091.0
1          60    117       145    4790.0
2          60    103       135    3400.0
3          45    109       175    2824.0
4          45    117       148    4060.0
..        ...    ...       ...       ...
164        60    105       140    2908.0
165        60    110       145    3000.0
166        60    115       145    3102.0
167        75    120       150    3204.0
168        75    125       150    3304.0

[169 rows x 4 columns]

In [3]:
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130    4091.0
1        60    117       145    4790.0
2        60    103       135    3400.0
3        45    109       175    2824.0
4        45    117       148    4060.0

In [4]:
df.tail()

     Duration  Pulse  Maxpulse  Calories
164        60    105       140    2908.0
165        60    110       145    3000.0
166        60    115       145    3102.0
167        75    120       150    3204.0
168        75    125       150    3304.0

In [5]:
df.columns

Index(['Duration', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [7]:
# Working with series

ser=df['Pulse']
ser.head()

0    110
1    117
2    103
3    109
4    117
Name: Pulse, dtype: int64

In [8]:
ser.dtype

dtype('int64')

In [9]:
ser.shape

(169,)

In [10]:
ser.size

169

In [11]:
ser.describe()

count    169.000000
mean     107.461538
std       14.510259
min       80.000000
25%      100.000000
50%      105.000000
75%      111.000000
max      159.000000
Name: Pulse, dtype: float64

In [12]:
ser.index

RangeIndex(start=0, stop=169, step=1)

In [13]:
ser.sum()

18161

In [14]:
ser.mean()

107.46153846153847

In [15]:
ser.median()

105.0

In [16]:
ser.std()

14.510259096501994

In [17]:
ser.min()

80

In [18]:
ser.max()

159

In [19]:
ser.unique()

array([110, 117, 103, 109, 102, 104,  98, 100, 106,  90,  97, 108, 130,
       105,  92, 101,  93, 107, 114, 111,  99, 123, 118, 136, 121, 115,
       153, 159, 149, 151, 129,  83,  80, 150,  95, 152, 137, 124, 116,
       112, 119, 113, 141, 122,  85, 120, 125])

In [20]:
ser.nunique()

47

In [21]:
ser.value_counts()

100    19
90     12
103     9
109     9
107     8
108     7
97      7
110     7
106     6
111     6
98      6
105     6
102     6
104     4
114     4
95      3
115     3
117     3
118     3
136     3
93      3
92      3
99      2
151     2
112     2
123     2
80      2
150     2
101     2
149     1
116     1
120     1
85      1
122     1
141     1
113     1
119     1
124     1
159     1
137     1
152     1
130     1
121     1
153     1
83      1
129     1
125     1
Name: Pulse, dtype: int64

In [22]:
ser.value_counts(ascending=False)

100    19
90     12
103     9
109     9
107     8
108     7
97      7
110     7
106     6
111     6
98      6
105     6
102     6
104     4
114     4
95      3
115     3
117     3
118     3
136     3
93      3
92      3
99      2
151     2
112     2
123     2
80      2
150     2
101     2
149     1
116     1
120     1
85      1
122     1
141     1
113     1
119     1
124     1
159     1
137     1
152     1
130     1
121     1
153     1
83      1
129     1
125     1
Name: Pulse, dtype: int64

In [23]:
ser.value_counts(bins=3)

(79.92, 106.333]      92
(106.333, 132.667]    64
(132.667, 159.0]      13
Name: Pulse, dtype: int64

In [24]:
ser.sort_index(ascending=False)

168    125
167    120
166    115
165    110
164    105
      ...
4      117
3      109
2      103
1      117
0      110
Name: Pulse, Length: 169, dtype: int64

In [25]:
ser.sort_values(ascending=True)

159     80
93      80
89      83
160     85
92      90
      ...
85     151
95     151
97     152
58     153
80     159
Name: Pulse, Length: 169, dtype: int64

In [26]:
# converting series into a list
ser.tolist()

[110,
 117,
 103,
 109,
 117,
 102,
 110,
 104,
 109,
 98,
 103,
 100,
 106,
 104,
 98,
 98,
 100,
 90,
 103,
 97,
 108,
 100,
 130,
 105,
 102,
 100,
 92,
 103,
 100,
 102,
 92,
 90,
 101,
 93,
 107,
 114,
 102,
 100,
 100,
 104,
 90,
 98,
 100,
 111,
 111,
 99,
 109,
 111,
 108,
 111,
 107,
 123,
 106,
 118,
 136,
 121,
 118,
 115,
 153,
 123,
 108,
 110,
 109,
 118,
 110,
 90,
 105,
 107,
 106,
 108,
 97,
 109,
 100,
 97,
 114,
 98,
 105,
 110,
 100,
 100,
 159,
 149,
 103,
 100,
 100,
 151,
 102,
 100,
 129,
 83,
 101,
 107,
 90,
 80,
 150,
 151,
 95,
 152,
 109,
 93,
 95,
 90,
 90,
 90,
 92,
 93,
 90,
 90,
 90,
 137,
 102,
 107,
 124,
 100,
 108,
 108,
 116,
 97,
 105,
 103,
 112,
 100,
 119,
 107,
 111,
 98,
 97,
 109,
 99,
 114,
 104,
 107,
 103,
 106,
 103,
 136,
 117,
 115,
 113,
 141,
 108,
 97,
 100,
 122,
 136,
 106,
 107,
 112,
 103,
 110,
 106,
 109,
 109,
 150,
 105,
 111,
 97,
 100,
 114,
 80,
 85,
 90,
 95,
 100,
 105,
 110,
 115,
 120,
 125]

In [27]:

# to array
ser.values

array([110, 117, 103, 109, 117, 102, 110, 104, 109,  98, 103, 100, 106,
       104,  98,  98, 100,  90, 103,  97, 108, 100, 130, 105, 102, 100,
        92, 103, 100, 102,  92,  90, 101,  93, 107, 114, 102, 100, 100,
       104,  90,  98, 100, 111, 111,  99, 109, 111, 108, 111, 107, 123,
       106, 118, 136, 121, 118, 115, 153, 123, 108, 110, 109, 118, 110,
        90, 105, 107, 106, 108,  97, 109, 100,  97, 114,  98, 105, 110,
       100, 100, 159, 149, 103, 100, 100, 151, 102, 100, 129,  83, 101,
       107,  90,  80, 150, 151,  95, 152, 109,  93,  95,  90,  90,  90,
        92,  93,  90,  90,  90, 137, 102, 107, 124, 100, 108, 108, 116,
        97, 105, 103, 112, 100, 119, 107, 111,  98,  97, 109,  99, 114,
       104, 107, 103, 106, 103, 136, 117, 115, 113, 141, 108,  97, 100,
       122, 136, 106, 107, 112, 103, 110, 106, 109, 109, 150, 105, 111,
        97, 100, 114,  80,  85,  90,  95, 100, 105, 110, 115, 120, 125])

In [28]:
ser.nsmallest() # first 5 smallest

93     80
159    80
89     83
160    85
17     90
Name: Pulse, dtype: int64

In [29]:
# to get the index number of the one smallest value 

ser.nsmallest().index[0]

93

In [30]:
# to get first 5 largest
ser.nlargest()

80    159
58    153
97    152
85    151
95    151
Name: Pulse, dtype: int64

In [31]:
ser.nlargest().index[0]

80

In [32]:
#to get the index of the largest and smallest value
ser.idxmax()

80

In [33]:
ser.idxmin()

93

In [34]:
ser.to_frame() # to see series into dataframe

     Pulse
0      110
1      117
2      103
3      109
4      117
..     ...
164    105
165    110
166    115
167    120
168    125

[169 rows x 1 columns]

In [35]:
# to write dataframe as html file
from IPython.display import HTML

df.to_html('data.html')

In [36]:
df1=pd.read_html('data.html')[0]
df1

     Unnamed: 0  Duration  Pulse  Maxpulse  Calories
0             0        60    110       130    4091.0
1             1        60    117       145    4790.0
2             2        60    103       135    3400.0
3             3        45    109       175    2824.0
4             4        45    117       148    4060.0
..          ...       ...    ...       ...       ...
164         164        60    105       140    2908.0
165         165        60    110       145    3000.0
166         166        60    115       145    3102.0
167         167        75    120       150    3204.0
168         168        75    125       150    3304.0

[169 rows x 5 columns]

In [38]:
html = df.to_html()
print(html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Duration</th>
      <th>Pulse</th>
      <th>Maxpulse</th>
      <th>Calories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>60</td>
      <td>110</td>
      <td>130</td>
      <td>4091.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>60</td>
      <td>117</td>
      <td>145</td>
      <td>4790.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>60</td>
      <td>103</td>
      <td>135</td>
      <td>3400.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>45</td>
      <td>109</td>
      <td>175</td>
      <td>2824.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>45</td>
      <td>117</td>
      <td>148</td>
      <td>4060.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>60</td>
      <td>102</td>
      <td>127</td>
      <td>3000.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>60</td>
      <td>110</td>
      <td>136</td>
      <td>3740.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>45</td>
      <td>104</td>
      <td>134</td>
      <td>2533.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>30</td>
      <td>109</td>
      <td>133</td>
      <td>1951.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>60</td>
      <td>98</td>
      <td>124</td>
      <td>2690.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>60</td>
      <td>103</td>
      <td>147</td>
      <td>3293.0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>60</td>
      <td>100</td>
      <td>120</td>
      <td>2507.0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>60</td>
      <td>106</td>
      <td>128</td>
      <td>3453.0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>60</td>
      <td>104</td>
      <td>132</td>
      <td>3793.0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>60</td>
      <td>98</td>
      <td>123</td>
      <td>2750.0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>60</td>
      <td>98</td>
      <td>120</td>
      <td>2152.0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>60</td>
      <td>100</td>
      <td>120</td>
      <td>3000.0</td>
    </tr>
    <tr>
      <th>17</th>
      <td>45</td>
      <td>90</td>
      <td>112</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>18</th>
      <td>60</td>
      <td>103</td>
      <td>123</td>
      <td>3230.0</td>
    </tr>
    <tr>
      <th>19</th>
      <td>45</td>
      <td>97</td>
      <td>125</td>
      <td>2430.0</td>
    </tr>
    <tr>
      <th>20</th>
      <td>60</td>
      <td>108</td>
      <td>131</td>
      <td>3642.0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>45</td>
      <td>100</td>
      <td>119</td>
      <td>2820.0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>60</td>
      <td>130</td>
      <td>101</td>
      <td>3000.0</td>
    </tr>
    <tr>
      <th>23</th>
      <td>45</td>
      <td>105</td>
      <td>132</td>
      <td>2460.0</td>
    </tr>
    <tr>
      <th>24</th>
      <td>60</td>
      <td>102</td>
      <td>126</td>
      <td>3345.0</td>
    </tr>
    <tr>
      <th>25</th>
      <td>60</td>
      <td>100</td>
      <td>120</td>
      <td>2500.0</td>
    </tr>
    <tr>
      <th>26</th>
      <td>60</td>
      <td>92</td>
      <td>118</td>
      <td>2410.0</td>
    </tr>
    <tr>
      <th>27</th>
      <td>60</td>
      <td>103</td>
      <td>132</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>28</th>
      <td>60</td>
      <td>100</td>
      <td>132</td>
      <td>2800.0</td>
    </tr>
    <tr>
      <th>29</th>
      <td>60</td>
      <td>102</td>
      <td>129</td>
      <td>3803.0</td>
    </tr>
    <tr>
      <th>30</th>
      <td>60</td>
      <td>92</td>
      <td>115</td>
      <td>2430.0</td>
    </tr>
    <tr>
      <th>31</th>
      <td>45</td>
      <td>90</td>
      <td>112</td>
      <td>1801.0</td>
    </tr>
    <tr>
      <th>32</th>
      <td>60</td>
      <td>101</td>
      <td>124</td>
      <td>2990.0</td>
    </tr>
    <tr>
      <th>33</th>
      <td>60</td>
      <td>93</td>
      <td>113</td>
      <td>2230.0</td>
    </tr>
    <tr>
      <th>34</th>
      <td>60</td>
      <td>107</td>
      <td>136</td>
      <td>3610.0</td>
    </tr>
    <tr>
      <th>35</th>
      <td>60</td>
      <td>114</td>
      <td>140</td>
      <td>4150.0</td>
    </tr>
    <tr>
      <th>36</th>
      <td>60</td>
      <td>102</td>
      <td>127</td>
      <td>3000.0</td>
    </tr>
    <tr>
      <th>37</th>
      <td>60</td>
      <td>100</td>
      <td>120</td>
      <td>3000.0</td>
    </tr>
    <tr>
      <th>38</th>
      <td>60</td>
      <td>100</td>
      <td>120</td>
      <td>3000.0</td>
    </tr>
    <tr>
      <th>39</th>
      <td>45</td>
      <td>104</td>
      <td>129</td>
      <td>2660.0</td>
    </tr>
    <tr>
      <th>40</th>
      <td>45</td>
      <td>90</td>
      <td>112</td>
      <td>1801.0</td>
    </tr>
    <tr>
      <th>41</th>
      <td>60</td>
      <td>98</td>
      <td>126</td>
      <td>2860.0</td>
    </tr>
    <tr>
      <th>42</th>
      <td>60</td>
      <td>100</td>
      <td>122</td>
      <td>3294.0</td>
    </tr>
    <tr>
      <th>43</th>
      <td>60</td>
      <td>111</td>
      <td>138</td>
      <td>4000.0</td>
    </tr>
    <tr>
      <th>44</th>
      <td>60</td>
      <td>111</td>
      <td>131</td>
      <td>3970.0</td>
    </tr>
    <tr>
      <th>45</th>
      <td>60</td>
      <td>99</td>
      <td>119</td>
      <td>2730.0</td>
    </tr>
    <tr>
      <th>46</th>
      <td>60</td>
      <td>109</td>
      <td>153</td>
      <td>3876.0</td>
    </tr>
    <tr>
      <th>47</th>
      <td>45</td>
      <td>111</td>
      <td>136</td>
      <td>3000.0</td>
    </tr>
    <tr>
      <th>48</th>
      <td>45</td>
      <td>108</td>
      <td>129</td>
      <td>2980.0</td>
    </tr>
    <tr>
      <th>49</th>
      <td>60</td>
      <td>111</td>
      <td>139</td>
      <td>3976.0</td>
    </tr>
    <tr>
      <th>50</th>
      <td>60</td>
      <td>107</td>
      <td>136</td>
      <td>3802.0</td>
    </tr>
    <tr>
      <th>51</th>
      <td>80</td>
      <td>123</td>
      <td>146</td>
      <td>6431.0</td>
    </tr>
    <tr>
      <th>52</th>
      <td>60</td>
      <td>106</td>
      <td>130</td>
      <td>2630.0</td>
    </tr>
    <tr>
      <th>53</th>
      <td>60</td>
      <td>118</td>
      <td>151</td>
      <td>4860.0</td>
    </tr>
    <tr>
      <th>54</th>
      <td>30</td>
      <td>136</td>
      <td>175</td>
      <td>2380.0</td>
    </tr>
    <tr>
      <th>55</th>
      <td>60</td>
      <td>121</td>
      <td>146</td>
      <td>4507.0</td>
    </tr>
    <tr>
      <th>56</th>
      <td>60</td>
      <td>118</td>
      <td>121</td>
      <td>4130.0</td>
    </tr>
    <tr>
      <th>57</th>
      <td>45</td>
      <td>115</td>
      <td>144</td>
      <td>3050.0</td>
    </tr>
    <tr>
      <th>58</th>
      <td>20</td>
      <td>153</td>
      <td>172</td>
      <td>2264.0</td>
    </tr>
    <tr>
      <th>59</th>
      <td>45</td>
      <td>123</td>
      <td>152</td>
      <td>3210.0</td>
    </tr>
    <tr>
      <th>60</th>
      <td>210</td>
      <td>108</td>
      <td>160</td>
      <td>13760.0</td>
    </tr>
    <tr>
      <th>61</th>
      <td>160</td>
      <td>110</td>
      <td>137</td>
      <td>10344.0</td>
    </tr>
    <tr>
      <th>62</th>
      <td>160</td>
      <td>109</td>
      <td>135</td>
      <td>8530.0</td>
    </tr>
    <tr>
      <th>63</th>
      <td>45</td>
      <td>118</td>
      <td>141</td>
      <td>3410.0</td>
    </tr>
    <tr>
      <th>64</th>
      <td>20</td>
      <td>110</td>
      <td>130</td>
      <td>1314.0</td>
    </tr>
    <tr>
      <th>65</th>
      <td>180</td>
      <td>90</td>
      <td>130</td>
      <td>8004.0</td>
    </tr>
    <tr>
      <th>66</th>
      <td>150</td>
      <td>105</td>
      <td>135</td>
      <td>8734.0</td>
    </tr>
    <tr>
      <th>67</th>
      <td>150</td>
      <td>107</td>
      <td>130</td>
      <td>8160.0</td>
    </tr>
    <tr>
      <th>68</th>
      <td>20</td>
      <td>106</td>
      <td>136</td>
      <td>1104.0</td>
    </tr>
    <tr>
      <th>69</th>
      <td>300</td>
      <td>108</td>
      <td>143</td>
      <td>15002.0</td>
    </tr>
    <tr>
      <th>70</th>
      <td>150</td>
      <td>97</td>
      <td>129</td>
      <td>11150.0</td>
    </tr>
    <tr>
      <th>71</th>
      <td>60</td>
      <td>109</td>
      <td>153</td>
      <td>3876.0</td>
    </tr>
    <tr>
      <th>72</th>
      <td>90</td>
      <td>100</td>
      <td>127</td>
      <td>7000.0</td>
    </tr>
    <tr>
      <th>73</th>
      <td>150</td>
      <td>97</td>
      <td>127</td>
      <td>9532.0</td>
    </tr>
    <tr>
      <th>74</th>
      <td>45</td>
      <td>114</td>
      <td>146</td>
      <td>3040.0</td>
    </tr>
    <tr>
      <th>75</th>
      <td>90</td>
      <td>98</td>
      <td>125</td>
      <td>5632.0</td>
    </tr>
    <tr>
      <th>76</th>
      <td>45</td>
      <td>105</td>
      <td>134</td>
      <td>2510.0</td>
    </tr>
    <tr>
      <th>77</th>
      <td>45</td>
      <td>110</td>
      <td>141</td>
      <td>3000.0</td>
    </tr>
    <tr>
      <th>78</th>
      <td>120</td>
      <td>100</td>
      <td>130</td>
      <td>5004.0</td>
    </tr>
    <tr>
      <th>79</th>
      <td>270</td>
      <td>100</td>
      <td>131</td>
      <td>17290.0</td>
    </tr>
    <tr>
      <th>80</th>
      <td>30</td>
      <td>159</td>
      <td>182</td>
      <td>3192.0</td>
    </tr>
    <tr>
      <th>81</th>
      <td>45</td>
      <td>149</td>
      <td>169</td>
      <td>3440.0</td>
    </tr>
    <tr>
      <th>82</th>
      <td>30</td>
      <td>103</td>
      <td>139</td>
      <td>1511.0</td>
    </tr>
    <tr>
      <th>83</th>
      <td>120</td>
      <td>100</td>
      <td>130</td>
      <td>5000.0</td>
    </tr>
    <tr>
      <th>84</th>
      <td>45</td>
      <td>100</td>
      <td>120</td>
      <td>2253.0</td>
    </tr>
    <tr>
      <th>85</th>
      <td>30</td>
      <td>151</td>
      <td>170</td>
      <td>3000.0</td>
    </tr>
    <tr>
      <th>86</th>
      <td>45</td>
      <td>102</td>
      <td>136</td>
      <td>2340.0</td>
    </tr>
    <tr>
      <th>87</th>
      <td>120</td>
      <td>100</td>
      <td>157</td>
      <td>10001.0</td>
    </tr>
    <tr>
      <th>88</th>
      <td>45</td>
      <td>129</td>
      <td>103</td>
      <td>2420.0</td>
    </tr>
    <tr>
      <th>89</th>
      <td>20</td>
      <td>83</td>
      <td>107</td>
      <td>503.0</td>
    </tr>
    <tr>
      <th>90</th>
      <td>180</td>
      <td>101</td>
      <td>127</td>
      <td>6001.0</td>
    </tr>
    <tr>
      <th>91</th>
      <td>45</td>
      <td>107</td>
      <td>137</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>92</th>
      <td>30</td>
      <td>90</td>
      <td>107</td>
      <td>1053.0</td>
    </tr>
    <tr>
      <th>93</th>
      <td>15</td>
      <td>80</td>
      <td>100</td>
      <td>505.0</td>
    </tr>
    <tr>
      <th>94</th>
      <td>20</td>
      <td>150</td>
      <td>171</td>
      <td>1274.0</td>
    </tr>
    <tr>
      <th>95</th>
      <td>20</td>
      <td>151</td>
      <td>168</td>
      <td>2294.0</td>
    </tr>
    <tr>
      <th>96</th>
      <td>30</td>
      <td>95</td>
      <td>128</td>
      <td>1282.0</td>
    </tr>
    <tr>
      <th>97</th>
      <td>25</td>
      <td>152</td>
      <td>168</td>
      <td>2442.0</td>
    </tr>
    <tr>
      <th>98</th>
      <td>30</td>
      <td>109</td>
      <td>131</td>
      <td>1882.0</td>
    </tr>
    <tr>
      <th>99</th>
      <td>90</td>
      <td>93</td>
      <td>124</td>
      <td>6041.0</td>
    </tr>
    <tr>
      <th>100</th>
      <td>20</td>
      <td>95</td>
      <td>112</td>
      <td>777.0</td>
    </tr>
    <tr>
      <th>101</th>
      <td>90</td>
      <td>90</td>
      <td>110</td>
      <td>5000.0</td>
    </tr>
    <tr>
      <th>102</th>
      <td>90</td>
      <td>90</td>
      <td>100</td>
      <td>5000.0</td>
    </tr>
    <tr>
      <th>103</th>
      <td>90</td>
      <td>90</td>
      <td>100</td>
      <td>5004.0</td>
    </tr>
    <tr>
      <th>104</th>
      <td>30</td>
      <td>92</td>
      <td>108</td>
      <td>927.0</td>
    </tr>
    <tr>
      <th>105</th>
      <td>30</td>
      <td>93</td>
      <td>128</td>
      <td>1240.0</td>
    </tr>
    <tr>
      <th>106</th>
      <td>180</td>
      <td>90</td>
      <td>120</td>
      <td>8003.0</td>
    </tr>
    <tr>
      <th>107</th>
      <td>30</td>
      <td>90</td>
      <td>120</td>
      <td>862.0</td>
    </tr>
    <tr>
      <th>108</th>
      <td>90</td>
      <td>90</td>
      <td>120</td>
      <td>5003.0</td>
    </tr>
    <tr>
      <th>109</th>
      <td>210</td>
      <td>137</td>
      <td>184</td>
      <td>18604.0</td>
    </tr>
    <tr>
      <th>110</th>
      <td>60</td>
      <td>102</td>
      <td>124</td>
      <td>3252.0</td>
    </tr>
    <tr>
      <th>111</th>
      <td>45</td>
      <td>107</td>
      <td>124</td>
      <td>2750.0</td>
    </tr>
    <tr>
      <th>112</th>
      <td>15</td>
      <td>124</td>
      <td>139</td>
      <td>1242.0</td>
    </tr>
    <tr>
      <th>113</th>
      <td>45</td>
      <td>100</td>
      <td>120</td>
      <td>2253.0</td>
    </tr>
    <tr>
      <th>114</th>
      <td>60</td>
      <td>108</td>
      <td>131</td>
      <td>3676.0</td>
    </tr>
    <tr>
      <th>115</th>
      <td>60</td>
      <td>108</td>
      <td>151</td>
      <td>3517.0</td>
    </tr>
    <tr>
      <th>116</th>
      <td>60</td>
      <td>116</td>
      <td>141</td>
      <td>4430.0</td>
    </tr>
    <tr>
      <th>117</th>
      <td>60</td>
      <td>97</td>
      <td>122</td>
      <td>2774.0</td>
    </tr>
    <tr>
      <th>118</th>
      <td>60</td>
      <td>105</td>
      <td>125</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>119</th>
      <td>60</td>
      <td>103</td>
      <td>124</td>
      <td>3327.0</td>
    </tr>
    <tr>
      <th>120</th>
      <td>30</td>
      <td>112</td>
      <td>137</td>
      <td>1939.0</td>
    </tr>
    <tr>
      <th>121</th>
      <td>45</td>
      <td>100</td>
      <td>120</td>
      <td>1007.0</td>
    </tr>
    <tr>
      <th>122</th>
      <td>60</td>
      <td>119</td>
      <td>169</td>
      <td>3367.0</td>
    </tr>
    <tr>
      <th>123</th>
      <td>60</td>
      <td>107</td>
      <td>127</td>
      <td>3449.0</td>
    </tr>
    <tr>
      <th>124</th>
      <td>60</td>
      <td>111</td>
      <td>151</td>
      <td>3685.0</td>
    </tr>
    <tr>
      <th>125</th>
      <td>60</td>
      <td>98</td>
      <td>122</td>
      <td>2710.0</td>
    </tr>
    <tr>
      <th>126</th>
      <td>60</td>
      <td>97</td>
      <td>124</td>
      <td>2753.0</td>
    </tr>
    <tr>
      <th>127</th>
      <td>60</td>
      <td>109</td>
      <td>127</td>
      <td>3820.0</td>
    </tr>
    <tr>
      <th>128</th>
      <td>90</td>
      <td>99</td>
      <td>125</td>
      <td>4664.0</td>
    </tr>
    <tr>
      <th>129</th>
      <td>60</td>
      <td>114</td>
      <td>151</td>
      <td>3840.0</td>
    </tr>
    <tr>
      <th>130</th>
      <td>60</td>
      <td>104</td>
      <td>134</td>
      <td>3425.0</td>
    </tr>
    <tr>
      <th>131</th>
      <td>60</td>
      <td>107</td>
      <td>138</td>
      <td>3575.0</td>
    </tr>
    <tr>
      <th>132</th>
      <td>60</td>
      <td>103</td>
      <td>133</td>
      <td>3350.0</td>
    </tr>
    <tr>
      <th>133</th>
      <td>60</td>
      <td>106</td>
      <td>132</td>
      <td>3275.0</td>
    </tr>
    <tr>
      <th>134</th>
      <td>60</td>
      <td>103</td>
      <td>136</td>
      <td>3390.0</td>
    </tr>
    <tr>
      <th>135</th>
      <td>20</td>
      <td>136</td>
      <td>156</td>
      <td>1890.0</td>
    </tr>
    <tr>
      <th>136</th>
      <td>45</td>
      <td>117</td>
      <td>143</td>
      <td>3177.0</td>
    </tr>
    <tr>
      <th>137</th>
      <td>45</td>
      <td>115</td>
      <td>137</td>
      <td>3180.0</td>
    </tr>
    <tr>
      <th>138</th>
      <td>45</td>
      <td>113</td>
      <td>138</td>
      <td>3080.0</td>
    </tr>
    <tr>
      <th>139</th>
      <td>20</td>
      <td>141</td>
      <td>162</td>
      <td>2224.0</td>
    </tr>
    <tr>
      <th>140</th>
      <td>60</td>
      <td>108</td>
      <td>135</td>
      <td>3900.0</td>
    </tr>
    <tr>
      <th>141</th>
      <td>60</td>
      <td>97</td>
      <td>127</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>142</th>
      <td>45</td>
      <td>100</td>
      <td>120</td>
      <td>2504.0</td>
    </tr>
    <tr>
      <th>143</th>
      <td>45</td>
      <td>122</td>
      <td>149</td>
      <td>3354.0</td>
    </tr>
    <tr>
      <th>144</th>
      <td>60</td>
      <td>136</td>
      <td>170</td>
      <td>4702.0</td>
    </tr>
    <tr>
      <th>145</th>
      <td>45</td>
      <td>106</td>
      <td>126</td>
      <td>2708.0</td>
    </tr>
    <tr>
      <th>146</th>
      <td>60</td>
      <td>107</td>
      <td>136</td>
      <td>4000.0</td>
    </tr>
    <tr>
      <th>147</th>
      <td>60</td>
      <td>112</td>
      <td>146</td>
      <td>3619.0</td>
    </tr>
    <tr>
      <th>148</th>
      <td>30</td>
      <td>103</td>
      <td>127</td>
      <td>1850.0</td>
    </tr>
    <tr>
      <th>149</th>
      <td>60</td>
      <td>110</td>
      <td>150</td>
      <td>4094.0</td>
    </tr>
    <tr>
      <th>150</th>
      <td>60</td>
      <td>106</td>
      <td>134</td>
      <td>3430.0</td>
    </tr>
    <tr>
      <th>151</th>
      <td>60</td>
      <td>109</td>
      <td>129</td>
      <td>3532.0</td>
    </tr>
    <tr>
      <th>152</th>
      <td>60</td>
      <td>109</td>
      <td>138</td>
      <td>3740.0</td>
    </tr>
    <tr>
      <th>153</th>
      <td>30</td>
      <td>150</td>
      <td>167</td>
      <td>2758.0</td>
    </tr>
    <tr>
      <th>154</th>
      <td>60</td>
      <td>105</td>
      <td>128</td>
      <td>3280.0</td>
    </tr>
    <tr>
      <th>155</th>
      <td>60</td>
      <td>111</td>
      <td>151</td>
      <td>3685.0</td>
    </tr>
    <tr>
      <th>156</th>
      <td>60</td>
      <td>97</td>
      <td>131</td>
      <td>2704.0</td>
    </tr>
    <tr>
      <th>157</th>
      <td>60</td>
      <td>100</td>
      <td>120</td>
      <td>2704.0</td>
    </tr>
    <tr>
      <th>158</th>
      <td>60</td>
      <td>114</td>
      <td>150</td>
      <td>3828.0</td>
    </tr>
    <tr>
      <th>159</th>
      <td>30</td>
      <td>80</td>
      <td>120</td>
      <td>2409.0</td>
    </tr>
    <tr>
      <th>160</th>
      <td>30</td>
      <td>85</td>
      <td>120</td>
      <td>2504.0</td>
    </tr>
    <tr>
      <th>161</th>
      <td>45</td>
      <td>90</td>
      <td>130</td>
      <td>2604.0</td>
    </tr>
    <tr>
      <th>162</th>
      <td>45</td>
      <td>95</td>
      <td>130</td>
      <td>2700.0</td>
    </tr>
    <tr>
      <th>163</th>
      <td>45</td>
      <td>100</td>
      <td>140</td>
      <td>2809.0</td>
    </tr>
    <tr>
      <th>164</th>
      <td>60</td>
      <td>105</td>
      <td>140</td>
      <td>2908.0</td>
    </tr>
    <tr>
      <th>165</th>
      <td>60</td>
      <td>110</td>
      <td>145</td>
      <td>3000.0</td>
    </tr>
    <tr>
      <th>166</th>
      <td>60</td>
      <td>115</td>
      <td>145</td>
      <td>3102.0</td>
    </tr>
    <tr>
      <th>167</th>
      <td>75</td>
      <td>120</td>
      <td>150</td>
      <td>3204.0</td>
    </tr>
    <tr>
      <th>168</th>
      <td>75</td>
      <td>125</td>
      <td>150</td>
      <td>3304.0</td>
    </tr>
  </tbody>
</table>